body {
	font-family: sans-serif;
	font-size: 16px;
	color: #fff;
}
ul.sidebar-menu {
    margin: 0;
    padding: 10px;
    max-width: 300px;
    list-style: none;
    list-style-type: none;
}
.sidebar-menu li a span {
	margin-right: 20px;
  color: #fff;
}
.sidebar-menu li a  {
	
	padding: 20px 25px;
	display: block;
	text-decoration: none;
	color: #fff;
}
.sidebar-menu li a:hover  {
	
	padding: 20px 25px;
	display: block;
	text-decoration: none;
	color: #fff;
}
li.have-children ul {
	padding: 0px;
} 
li.have-children ul li a {
	
	padding-left: 62px;
} 
li.have-children ul li a:hover {
  color: #fff;
	padding-left: 62px;
} 
li.have-children, li {
	position: relative;
}
.have-children span::after {
  position: absolute;
  right: 30px;
  content: "\f054";
  color: #fff;
  transition: all .5s;
}
li.active.have-children span::after {
	-moz-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}
.sidebar-menu .have-children > ul {
    display: none;
}

